.example-form {
    min-width: 150px;
    width: 100%;
    align-self: center;
  }
  
  .example-full-width {
    width: 100%;
  }
  .font{
    font: Mulish, Helvetica, Arial, -apple-system;
    background-color: #ffffffA6;
}
.url{
  width: 50px;
}